:root {
	--background: #A8D0E6;
	--highlight: #F8E9A1;
	--lblue: #A8D0E6;
	--blue: #374785;
	--dblue: #24305e;
	--red: #F76C6C; 
	--text-color: white;
	
	--font-family: "Arial";
	--font-size: 22px;

	
}